<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="margin-left: -50px;">Verificación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <ion-item>
      <ion-item-divider>
        <div style="width: 100%; text-align: center; font-size: xx-large; margin-top: 10px;">Verificar Codigo De 4 Digitos</div> 
      </ion-item-divider>
          
      <ion-label position="floating"></ion-label>
      <ion-input type="text" name="verificar" style="width: 100%; text-align: center; font-size: xx-large;" placeholder="_ _ _ _" required></ion-input>
    </ion-item>
    <ion-button routerLink="/inicio" expand="block" fill="clear" shape="round">
      Verificar
    </ion-button>
  </form>
</ion-content>
